@use "../../sass-utiles/mixins";

main {
    @include mixins.common-main();
    > * {
        max-width: 25vw;
    }
    > *:last-child {
        margin-left: 2em;
    }

    @include mixins.ForNarrowMode() {
        flex-direction: column;
    }
}
