@use "../../sass-utiles/color";
@use "../../sass-utiles/mixins";

path {
    stroke: color.$svg;
}
:host {
    &.svg-size {
        &_20 {
            @include mixins.svg-size(20px);
        }
        &_24 {
            @include mixins.svg-size(24px);
        }
    }
    &.nav-item {
        &-svg {
            path,
            rect:not(rect:first-child) {
                stroke: color.$white;
            }
        }
        &_selected {
            path,
            rect:not(rect:first-child) {
                stroke: color.$main;
            }
        }
    }
}
