<main>
    <div class="wrapper">
        <form [formGroup]="conditionForm" class="form">
            <div class="form-cell">
                <select formControlName="member" id="member">
                    <option *ngFor="let datum of memberData" value="{{ datum.email }}">
                        {{datum.user_name }}
                    </option>
                </select>
            </div>
            <div class="form-cell">
                <select formControlName="startYear" id="startYear">
                    <option *ngFor="let year of optionYear;" value="{{ year }}">
                        {{ year }}
                    </option>
                </select>
                <span>年</span>
            </div>
            <div class="form-cell">
                <select formControlName="startMonth" id="startMonth">
                    <option *ngFor="let month of optionMonth" value="{{ month }}">
                        {{ month }}
                    </option>
                </select>
                <span>月</span>
            </div>
            <div class="form-cell">
                <span>〜</span>
            </div>
            <div class="form-cell">
                <select formControlName="endYear" id="endYear">
                    <option *ngFor="let year of optionYear;" value="{{ year }}">
                        {{ year }}
                    </option>
                </select>
                <span>年</span>
            </div>
            <div class="form-cell">
                <select formControlName="endMonth" id="endMonth">
                    <option *ngFor="let month of optionMonth" value="{{ month }}">
                        {{ month }}
                    </option>
                </select>
                <span>月</span>
            </div>
        </form>
        <div class="analysis">
            <div class="analysis-top-group-data">
                <div class="analysis-top-total">
                    合計時間：{{ dataTopGroup.totalHours | number:'1.1-1' }}時間
                </div>
                <div class="analysis-top-export">
                    <button type="button" class="analysis-top-export-button">CSV出力(UTF8)</button>
                    <button type="button" class="analysis-top-export-button">CSV出力(SJIS)</button>
                </div>
                <div class="analysis-top-graph">
                    <div *ngFor="let g of dataTopGroup.summary" class="analysis-top-graph-bar"
                        [style.width]="getCssWidth(g.ratio)" [style.background-color]="getCssBgColor(g.groupName)">
                    </div>
                </div>
            </div>
            <div class="analysis-left-daily-data">
                <div class="analysis-left-row" *ngFor="let d of dataLeftDaily">
                    <span class="analysis-left-row-title"> {{d.date | date:'MM/dd'}}</span>
                    <div class="analysis-left-row-graph" [style.grid-column]="getCssGridColmn(d.totalHours)">
                        <div *ngFor="let b of d.breakdown" class="analysis-left-row-graph-bar"
                            [style.width]="getCssWidth(b.ratio)" [style.background-color]="getCssBgColor(b.groupName)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="analysis-right-jobs-data">right</div>
        </div>
    </div>
</main>