<main>
    <div class="wrapper">
        <form [formGroup]="conditionForm" class="form">
            <div class="form-cell">
                <select formControlName="member" id="member">
                    <option *ngFor="let datum of memberData" value="{{ datum.email }}">
                        {{datum.user_name }}
                    </option>
                </select>
            </div>
            <div class="form-cell">
                <select formControlName="startYear" id="startYear">
                    <option *ngFor="let year of optionYear;" value="{{ year }}">
                        {{ year }}
                    </option>
                </select>
                <span>年</span>
            </div>
            <div class="form-cell">
                <select formControlName="startMonth" id="startMonth">
                    <option *ngFor="let month of optionMonth" value="{{ month }}">
                        {{ month }}
                    </option>
                </select>
                <span>月</span>
            </div>
            <div class="form-cell">
                <span>〜</span>
            </div>
            <div class="form-cell">
                <select formControlName="endYear" id="endYear">
                    <option *ngFor="let year of optionYear;" value="{{ year }}">
                        {{ year }}
                    </option>
                </select>
                <span>年</span>
            </div>
            <div class="form-cell">
                <select formControlName="endMonth" id="endMonth">
                    <option *ngFor="let month of optionMonth" value="{{ month }}">
                        {{ month }}
                    </option>
                </select>
                <span>月</span>
            </div>
        </form>
        <ul class="tab">
            <li class="tab-item" (click)="selectTab('summary')" [class.tab-item_selected]="selectedTabName==='summary'">
                概要
            </li>
            <li class="tab-item" (click)="selectTab('detail')" [class.tab-item_selected]="selectedTabName==='detail'">
                詳細
            </li>
        </ul>
        <app-summary *ngIf="selectedTabName==='summary'"></app-summary>
        <app-detail *ngIf="selectedTabName==='detail'"></app-detail>
    </div>
</main>