@use "./../../../sass-utiles/mixins";
@use "./../../../sass-utiles/color";

main {
    @include mixins.common-main();
}
.wrapper {
    > * {
        margin-bottom: 1em;
    }
}
.form {
    display: flex;
    flex-direction: row;
    label {
        display: contents;
    }
    > * + * {
        margin-left: 1em;
    }
    &-cell {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.tab {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    border-bottom: solid 1px color.$accent1;

    &-item {
        padding: 0.5em 1.5em;
        border: solid 1px color.$accent1;
        border-radius: 0.25em 0.25em 0 0;
        margin: 0 0 -1px; //-1px移動する
        cursor: pointer;

        &_selected {
            border-bottom-color: color.$base;
        }
    }
}
