@use "./../../../sass-utiles/mixins";
@use "./../../../sass-utiles/color";

main {
    @include mixins.common-main();
}
.form {
    display: flex;
    flex-direction: row;
    label {
        display: contents;
    }
    > * + * {
        margin-left: 1em;
    }
    &-cell {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
