@use "../../sass-utiles/color";

.wrapper {
    > div {
        margin: 1em;
    }
}
.calendar {
    &-nav {
        display: flex;
        justify-content: space-between;
    }
    &-sunday {
        color: red;
    }
    &-saturday {
        color: blue;
    }
    &-row {
        display: flex;
        justify-content: space-between;
    }
    &-day {
        cursor: pointer;
    }
    &-box {
        padding: 0.6em;
        display: flex;
        flex-direction: column;
    }
    &-hours {
        color: color.$accent-dark;
    }
}
.summary {
    table {
        width: 100%;
        // max-width: ;
    }
    th {
        background-color: color.$main;
        padding: 0.5em 1.5em;
    }
    td {
        padding: 0.5em 1.5em;
        border-bottom: 1px solid color.$main;
        word-break: break-all;
    }
}
