<div class="wrapper">
    <div class="calendar">
        <div class="calendar-nav">
            <div>
                <button type="button" (click)="setSelectedMonth(-1)">&#x3C;&#x3C;</button>
            </div>
            <div>
                {{ selectedDateForDisply | date:'yyyy年M月' }}
            </div>
            <div>
                <button type="button" (click)="setSelectedMonth(1)">&#x3E;&#x3E;</button>
            </div>
        </div>
        <div class="calendar-head">
            <div class="calendar-row">
                <div class="calendar-box">
                    <span class="calendar-sunday">日</span>
                </div>
                <div class="calendar-box">
                    <span>月</span>
                </div>
                <div class="calendar-box">
                    <span>火</span>
                </div>
                <div class="calendar-box">
                    <span>水</span>
                </div>
                <div class="calendar-box">
                    <span>木</span>
                </div>
                <div class="calendar-box">
                    <span>金</span>
                </div>
                <div class="calendar-box">
                    <span class="calendar-saturday">土</span>
                </div>
            </div>
        </div>
        <div class="calendar-body">
            <div class="calendar-row" *ngFor="let row of calendar.rows">
                <ng-container *ngFor="let day of row.days">
                    <ng-container *ngIf="day.isBlank">
                        <div class="calendar-box calendar-blank">
                        </div>
                    </ng-container>
                    <ng-container *ngIf="day.isBlank === false">
                        <div class="calendar-box calendar-day" [class.calendar-selected]="isSelectedDate(day.fullDate)"
                            (click)="setSelectedDate(day.fullDate)">
                            <span *ngIf="day.isBlank === false" [class.calendar-holiday]="day.isHoliday"
                                [class.calendar-sunday]="day.isSunday" [class.calendar-saturday]="day.isSaturday">
                                {{ day.date }}
                            </span>
                            <span *ngIf="(day.isBlank === false && dailys[day.fullDate])" class="calendar-hours">
                                {{ dailys[day.fullDate].total | number:'1.1-1' }}
                            </span>
                            <span *ngIf="(day.isBlank === false && !dailys[day.fullDate])"
                                class="calendar-hours">0.0</span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="monthly">
        <span>{{ selectedDateForDisply | date:'yyyy年M月' }}の合計</span>
        <span>{{ monthly? monthly.total : 0 | number:'1.1-1' }} 時間</span>
    </div>

    <div class="export">
        <button type="button" class="export-button" (click)="exportCsv()">CSV出力</button>
    </div>
</div>