@use "../../sass-utiles/color";
@use "./../../sass-utiles/mixins";

.wrapper {
    > div {
        margin: 1em;
    }
    @include mixins.ForNarrowMode() {
        display: none;
    }
}
.calendar {
    &-nav {
        display: flex;
        justify-content: space-between;
    }
    &-saturday {
        color: blue;
    }
    &-sunday,
    &-holiday {
        color: red;
    }
    &-th {
        text-align: center;
    }
    &-cell {
        cursor: pointer;
        padding: 0.5em 0.25em;
        min-height: 1em;
        min-width: 3em;
        &:hover {
            background-color: lighten(color.$accent-light, 15);
        }
        &_blank {
            cursor: default;
            &:hover {
                background-color: transparent;
            }
        }
        > span {
            text-align: center;
            display: block;
        }
    }
    &-hours {
        color: color.$accent-dark;
    }
    &_selected {
        background-color: color.$accent-light;
    }
}
.export {
    &-button {
        @include mixins.common-sub-action-button();
    }
}
