@use "../../../sass-utiles/const";
@use "../../../sass-utiles/mixins";

.contents-wrapper {
    display: flex;
    flex-direction: row;
    top: const.$header-height;
    @include mixins.ForNarrowMode() {
        display: block;
        top: unset;
    }
}
.left {
    &-wrapper {
        width: 20vw;
        width: const.$nav-width;
        min-height: 100vh;

        @include mixins.ForNarrowMode() {
            min-height: unset;
            max-width: unset;
            width: 100vw;
            position: fixed;
            top: unset;
            bottom: 0;
            width: 100%;
        }
    }
    &-inner-wrapper {
        position: sticky;
        top: 0;
    }
}
.right-wrapper {
    padding: 2em;
    min-height: 100vh;
    @include mixins.ForNarrowMode() {
        padding: 0;
    }
}
.part {
    &_wide {
        @include mixins.ForNarrowMode() {
            display: none;
        }
    }
    &_narrow {
        display: none;
        @include mixins.ForNarrowMode() {
            display: unset;
        }
    }
}
