@use "../../../sass-utiles/mixins";
@use "../../../sass-utiles/color";

form {
    > * {
        margin: 1em 0;
    }
}
button {
    @include mixins.common-submit-button();
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color.$gradation-main;
    @include mixins.ForNarrowMode() {
        align-items: flex-start;
        height: auto;
        min-height: 100vh;
    }
}
.wrapper {
    width: 45vw;
    z-index: 1;
    background-color: color.$white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    @include mixins.common-box-shadow();
    > div + div {
        margin-top: 2.5em;
    }
    @include mixins.ForNarrowMode() {
        width: 95vw;
        padding: 1em;
        > div + div {
            margin-top: 1.5em;
        }
    }
}
.login {
    &-row {
        input {
            width: 100%;
        }
    }
}
.notice {
    min-height: 25vh;
    &-row {
        margin: 1em 0;
    }
    &_skeleton {
        > * {
            margin: 0.25em 0;
        }
        dt {
            @include mixins.common-skeleton(6em);
        }
        dd {
            @include mixins.common-skeleton();
        }
    }
    &_new {
        &::after {
            content: "New";
            position: relative;
            left: 1em;
            @include mixins.common-gradation-wave-animation(color.$gradation-neon, 2s);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
