<main>
    <div class="wrapper">
        <div class="login">
            <h2>ログイン</h2>
            <form (ngSubmit)="loginProcess()" #frmLogin="ngForm">
                <div class="login-row">
                    <label for="txtEmail">メールアドレス</label>
                    <input ngModel type="email" [(ngModel)]="login.email" name="txtEmail" required>
                </div>
                <div class="login-row"> <label for="txtPassword">パスワード</label>
                    <input ngModel type="password" [(ngModel)]="login.password" name="txtPassword" required>
                </div>
                <div class="login-row-center">
                    <button type="submit">ログイン ({{ version }})</button>
                </div>
            </form>
        </div>
        <div class="notice">
            <h2>更新履歴</h2>
            <dl *ngFor="let notice of notices" class="notice-row" [class.notice_skeleton]="!isLoaded">
                <dt [class.notice_new]="isWithinFewDays(notice.date)">{{ notice.version }}</dt>
                <dd *ngFor="let info of notice.detail">
                    {{ info }}
                </dd>
            </dl>
        </div>
    </div>
</main>