<main>
    <div class="wrapper">
        <div class="login">
            <h2>ログイン</h2>
            <form (ngSubmit)="loginProcess()" #frmLogin="ngForm">
                <div class="login-row">
                    <label for="txtEmail">メールアドレス</label>
                    <input ngModel type="email" [(ngModel)]="login.email" name="txtEmail" required>
                </div>
                <div class="login-row"> <label for="txtPassword">パスワード</label>
                    <input ngModel type="password" [(ngModel)]="login.password" name="txtPassword" required>
                </div>
                <div class="login-row-center">
                    <button type="submit">ログイン ({{ version }})</button>
                </div>
            </form>
        </div>
        <div class="notice">
            <h2>更新履歴</h2>
            <ul class="notice-list" [class.notice_skeleton]="!isLoaded">
                <li *ngFor="let notice of notices">
                    {{ notice.version }}
                    <span *ngIf="isWithinFewDays(notice.date)" class="notice_new">New</span>
                    <ul class="notice-detail">
                        <li *ngFor="let info of notice.detail" class="notice-detail-item">
                            {{ info }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</main>