@use "../../../sass-utiles/mixins";

main {
    @include mixins.common-main();

    > *:last-child {
        margin-left: 2em;
        @include mixins.ForNarrowMode() {
            margin-left: 0;
        }
    }

    @include mixins.ForNarrowMode() {
        flex-direction: column;
        padding: 2em;
    }
}
