@use "./../../../../sass-utiles/mixins";
@use "./../../../../sass-utiles/color";

button[type="submit"] {
    @include mixins.common-submit-button();
}

.header {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: color.$base;
    @include mixins.ForNarrowMode() {
        margin-top: 0;
        top: 0;
    }
    &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-title {
        min-width: 270px;
        text-align: center;
        @include mixins.ForNarrowMode() {
            min-width: unset;
        }
        &_sunday,
        &_holiday {
            color: red;
        }
        &_saturday {
            color: blue;
        }
    }
    &-button {
        display: none;
        min-width: 5em;
        text-align: center;
        @include mixins.ForNarrowMode() {
            display: unset;
            min-width: unset;
        }
    }
}
.card {
    @include mixins.common-box-shadow();
    padding: 1em;

    &-wrapper {
        > * {
            margin: 1em 0;
        }
    }
    &-header,
    &-body,
    &-footer {
        > * {
            display: block;
        }
    }
    &-body {
        > * {
            margin: 1em 0;
        }
    }
    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
}
.form-group {
    margin: 1em 0;
    span {
        display: block;
    }
    button[type="button"] {
        @include mixins.common-sub-action-button();
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
