$base: #f9f9f9;
$base-light: lighten($base, 20%);
$main: #cdf0ea;
$main-light: lighten($main, 20%);
$main-dark: #3e4746;
$accent1: #beaee2;
$accent2: #f7dbf0;
$neon-accent1: #30cfd0;
$neon-accent2: #c43ad6;
$text: #323232;
$text-light: lighten($text, 20%);
$white: #ffffff;
$svg: lighten($text, 20%);
$border: #c4c4c4;
$gradation-main: linear-gradient(to right, $accent1, $accent2);
$gradation-neon: linear-gradient(to right, $neon-accent1, $neon-accent2);
$gradation-skeleton: linear-gradient(to right, lighten($text, 60%), $base-light);
$saturday: #b0c4de;
$sunday: #ddadd0;
