@use "./color";

@mixin common-header($font-rate) {
    color: color.$text;
    font-size: $font-rate * 1em;
    font-weight: 600;
    display: inline;
}

@mixin common-submit-button() {
    background: linear-gradient(to right, color.$accent-dark, color.$accent-light);
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
}
