@use "./color";
@use "./const";

@mixin common-header($font-rate) {
    color: color.$text;
    font-size: $font-rate * 1em;
    font-weight: 600;
    display: inline;
}

@mixin common-submit-button() {
    background: color.$gradation-main;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
}

@mixin common-sub-action-button() {
    background-color: color.$white;
    border: 2px solid color.$main;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
}

@mixin common-main() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(100vh - const.$header-height - const.$footer-heigh - const.$nav-height - (const.$main-margin * 2));
    margin: const.$main-margin 0;
}
