@use "./color";
@use "./const";
@use "./animation";

//見出しのフォントサイズの共通設定
@mixin common-header($font-rate) {
    color: color.$text;
    font-size: $font-rate * 1em;
    font-weight: 600;
    display: inline;
}

//送信ボタンの共通設定
@mixin common-submit-button() {
    background: color.$gradation-main;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
}

//サブ機能ボタンの共通設定
@mixin common-sub-action-button() {
    background-color: color.$white;
    border: 2px solid color.$main;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
}

//<main>の共通設定
@mixin common-main($wrapper-max-width: 100%) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(100vh - const.$header-height - const.$footer-heigh - (const.$main-margin * 2));
    .wrapper {
        width: calc(100vw - const.$nav-width - (const.$main-margin * 2));
        max-width: $wrapper-max-width;
        @include ForNarrowMode() {
            width: 100vw;
        }

        > * {
            margin: 1em;
        }
    }
}

//スケルトンの共通設定
@mixin common-skeleton($width: 100%, $height: 1em) {
    &:before {
        content: "";
        display: block;
        height: $height;
        width: $width;
        background: color.$gradation-skeleton;
        background-size: 200% 200%;
        animation: skeleton 1.2s linear infinite;
    }
}

//グラデーションアニメーションの共通設定
@mixin common-gradation-wave-animation($gradation-color, $speed) {
    background: $gradation-color;
    background-size: 200% 200%;
    animation: gradation-wave $speed ease infinite;
}

// 影の共通設定
@mixin common-box-shadow() {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

//SVGのサイズの設定
@mixin svg-size($size) {
    svg {
        width: $size;
        height: $size;
    }
}

//画面の幅が狭いモードの設定
@mixin ForNarrowMode() {
    @media (max-width: 900px) {
        @content;
    }
}
