<div class="wrapper">
    <div class="search">
        <form class="search-form" (ngSubmit)="search()" [formGroup]="frmSearch">
            <div class="search-form-row">
                <ng-container *ngFor="let datum of memberData; let i = index;">
                    <div class="radio-wrapper">
                        <input type="radio" name="user" id="rdo{{ i }}" value="{{ datum.email }}" formControlName="user"
                            required>
                        <label for="rdo{{ i }}">{{ datum.user_name }}</label>
                    </div>
                </ng-container>

            </div>
            <div class="search-form-row">
                <div class="text-wrapper">
                    <label for="txtYear">年</label>
                    <input type="number" name="" id="txtYear" formControlName="year" min="2022" max="2025" step="1"
                        required>
                </div>
                <div class="text-wrapper">
                    <label for="txtMonth">月</label>
                    <input type="number" name="" id="txtMonth" formControlName="month" min="1" max="12" step="1"
                        required>
                </div>
            </div>
            <div class="search-form-row">
                <p *ngFor="let error of frmSearchErrors">{{ error }}</p>
            </div>
            <div class="search-form-row">
                <button type="submit">検索</button>
            </div>
        </form>
    </div>
    <div class="summary">
        <div class="summary-card" *ngFor="let sum of summary">
            <div class="summary-card-head">
                {{ sum.groupName }}
            </div>
            <div class="summary-card-body">
                {{ sum.hours | number:'1.1-1' }}時間
            </div>
        </div>
    </div>
    <div class="list">
        <table class="list-table">
            <tr>
                <th class="list-table-title">集約グループ</th>
                <th class="list-table-title">作業内容</th>
                <th class="list-table-title">工数</th>
            </tr>
            <tr *ngFor="let row of list">
                <td>{{row.groupName}}</td>
                <td>{{row.job}}</td>
                <td>{{row.hours | number:'1.1-1'}}</td>
            </tr>
        </table>
    </div>
</div>