@use "./../../../sass-utiles/mixins";
@use "./../../../sass-utiles/color";

main {
    @include mixins.common-main();
}

.link {
    &-list {
        list-style-type: circle;
        padding-left: 1em;
    }
    &-topic {
        margin-bottom: 1.5em;
        @include mixins.common-list-marker();
    }
    &-item {
        cursor: pointer;
        @include mixins.common-list-marker();
    }
}
