<main>
    <div class="wrapper">
        <ul class="link-list">
            <li class="link-topic">アイコン・絵文字・イラスト
                <ul class="link-list">
                    <li class="link-item">
                        <a (click)="open($event)" data-href="https://iconpark.oceanengine.com/">Icon Park</a>
                    </li>
                    <li class="link-item">
                        <a (click)="open($event)" data-href="https://twemoji.twitter.com/">twemoji</a>
                    </li>
                </ul>
            </li>
            <li class="link-topic">フォント
                <ul class="link-list">

                    <li class="link-item">
                        <a (click)="open($event)" data-href="https://fonts.google.com/noto/specimen/Noto+Serif+JP">Noto
                            Serif Japanese</a>
                    </li>
                </ul>
            </li>
            <li class="link-topic">Angularライブラリ
                <ul class="link-list">

                    <li class="link-item">
                        <a (click)="open($event)" data-href="https://www.npmjs.com/package/ngx-quill">ngx-quill</a>
                    </li>
                    <li class="link-item">
                        <a (click)="open($event)" data-href="https://www.npmjs.com/package/ngx-toastr">ngx-toastr</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</main>