@use "../../../sass-utiles/color";

@mixin article {
    * {
        line-height: 1.5em;
    }
    h1 {
        font-size: 1.4em;
        display: inline-block;
        margin-top: 0.8em;
    }
    h2 {
        font-size: 1.2em;
        display: inline-block;
        margin-top: 0.6em;
    }
    ul {
        list-style-type: disc;
        padding-left: 1.5em;
    }
    ol {
        list-style-type: decimal;
        padding-left: 1.5em;
    }
    li {
        margin: 0.2em 0;
    }
    blockquote {
        border-left: 1em solid;
        border-color: color.$main;
        background-color: color.$base-light;
        padding: 0.25em;
    }
    pre.ql-syntax {
        background-color: color.$main-dark;
        padding: 0.25em;
        color: color.$white;
    }

    @for $i from 1 through 5 {
        .ql-indent-#{$i} {
            padding-left: 2em * $i;
        }
    }
}
