<main>
    <div class="wrapper">
        <div class="article">
            <div class="article-title">
                <h2 [class.article-title_skeleton]="!isLoaded">{{ articleData.text.title }}</h2>
            </div>
            <div class="article-writer">
                <span [class.article-writer_skeleton]="!isLoaded">{{ articleData.article.writer_name }}</span>
            </div>
            <div class="article-date">
                <span [class.article-date_skeleton]="!isLoaded">{{ articleData.text.create_timestamp |
                    timestamp:'yyyy年M月d日 HH時m分'}}</span>
            </div>
            <div class="article-text" [innerHTML]="articleData.text.text" [class.article-text_loading]="!isLoaded">
            </div>
        </div>
        <div class="reaction">
            <dl class="reaction-list" [class.reacrion_on]="articleData.isReactionedHeart"
                [class.reaction_off]="!articleData.isReactionedHeart" (click)="reaction('heart')">
                <dt class="reaction-emoji">
                    <emoji-sparkling-heart class="emoji-size_20"></emoji-sparkling-heart>
                </dt>
                <dd class="reaction-volume">{{ articleData.article.reactions.heart }}</dd>
            </dl>
            <dl class="reaction-list" [class.reacrion_on]="articleData.isReactionedClap"
                [class.reaction_off]="!articleData.isReactionedClap" (click)="reaction('clap')">
                <dt class="reaction-emoji">
                    <emoji-clap class="emoji-size_20"></emoji-clap>
                </dt>
                <dd class="reaction-volume">{{ articleData.article.reactions.clap }}</dd>
            </dl>
            <dl class="reaction-list" [class.reacrion_on]="articleData.isReactionedThumbsup"
                [class.reaction_off]="!articleData.isReactionedThumbsup" (click)="reaction('thumbsup')">
                <dt class="reaction-emoji">
                    <emoji-thumbs-up class="emoji-size_20"></emoji-thumbs-up>
                </dt>
                <dd class="reaction-volume">{{ articleData.article.reactions.thumbsup }}</dd>
            </dl>
        </div>
        <div class="comment">
            <div class="comment-card-wrapper">

            </div>
            <div class="comment-form">

            </div>
        </div>
    </div>
</main>