<main>
    <div class="wrapper">
        <div class="conditions">
            <form class="search-form" [formGroup]="frmVersion">
                <div class="conditions-row">
                    <div>現在のバージョン：{{ afterVersion }}</div>
                </div>
                <div class="conditions-row">
                    <div class="select-wrapper">
                        <label for="slcVersion">比較対象のバージョン：</label>
                        <select #slcVersion formControlName="version" id="slcVersion" (change)="setText()">
                            <option *ngFor="let ops of versionOptions" value="{{ ops }}">
                                {{ ops }}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <inline-diff [oldText]="before.text" [newText]="after.text" [lineContextSize]="4">
        </inline-diff>
    </div>
</main>