@use "./sass-utiles/color";

$header-height: 4em;
$main-margin: 1em;
$footer-heigh: $header-height / 2;

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: $header-height;
    background-color: color.$main;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(100vh - $header-height - $footer-heigh - ($main-margin * 2));
    margin: $main-margin 0;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: $footer-heigh;
}
.wrapper {
    width: 50vw;
}
