@use "../../sass-utiles/mixins";

form {
    > * {
        margin: 1em 0;
    }
}
button {
    @include mixins.common-submit-button();
}
.row {
    display: flex;
    flex-direction: column;
    &-center {
        justify-content: center;
        align-items: center;
    }
}
