@use "./../../../sass-utiles/mixins";
@use "./../../../sass-utiles/color";

main {
    @include mixins.common-main();
}
.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
        margin: 0.2em;
    }
    &-wrapper {
        > * {
            margin: 0.25em;
        }
    }
    &-delete {
        cursor: pointer;
    }
}
.section {
    & {
        margin-left: 1em;
        margin-top: 0.25em;
    }
}
