@use "../../../sass-utiles/const";
@use "../../../sass-utiles/color";
@use "../../../sass-utiles/mixins";

.nav {
    background-color: color.$main-dark;
    height: 100%;
    @include mixins.ForNarrowMode() {
        height: auto;
        width: 100%;
    }
    &-item {
        color: color.$white;
        :host path {
            stroke: color.$white;
        }
        &_selected {
            font-weight: 700;
            color: color.$main;
            :host path {
                stroke: color.$main;
            }
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            & > a {
                margin: 1em;
            }
            @include mixins.ForNarrowMode() {
                flex-direction: row;
                z-index: 1;
            }
        }
        &-text {
            margin-left: 0.5em;
            @include mixins.ForNarrowMode() {
                display: none;
            }
        }
    }
}
