<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-item-link" routerLink="/register" [class.nav-item_selected]="isSelected('register')">
                <svg-write class="nav-item-svg svg-size_20" [class.nav-item_selected]="isSelected('register')">
                </svg-write>
                <span class="nav-item-text">工数入力</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" routerLink="/overview" [class.nav-item_selected]="isSelected('overview')">
                <svg-table-report class="nav-item-svg svg-size_20" [class.nav-item_selected]="isSelected('overview')">
                </svg-table-report>
                <span class="nav-item-text">工数閲覧</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" routerLink="/analysis" [class.nav-item_selected]="isSelected('analysis')">
                <svg-analysis class="nav-item-svg svg-size_20" [class.nav-item_selected]="isSelected('analysis')">
                </svg-analysis>
                <span class="nav-item-text">工数分析</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" routerLink="/report" [class.nav-item_selected]="isSelected('report')">
                <svg-log class="nav-item-svg svg-size_20" [class.nav-item_selected]="isSelected('report')">
                </svg-log>
                <span class="nav-item-text">日報</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" routerLink="/setting" [class.nav-item_selected]="isSelected('setting')">
                <svg-setting class="nav-item-svg svg-size_20" [class.nav-item_selected]="isSelected('setting')">
                </svg-setting>
                <span class="nav-item-text">設定</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="{{contactFormUrl}}">
                <svg-confounded-face class="nav-item-svg svg-size_20"></svg-confounded-face>
                <span class="nav-item-text">問い合わせ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" routerLink="/copyright" [class.nav-item_selected]="isSelected('copyright')">
                <svg-road-sign class="nav-item-svg svg-size_20" [class.nav-item_selected]="isSelected('copyright')">
                </svg-road-sign>
                <span class="nav-item-text">オープンソースライセンス</span>
            </a>
        </li>
    </ul>
</nav>