<nav class="nav">
    <ul class="nav-list">
        <li class="nav-topic">工数
            <ul class="nav-list">
                <li class="nav-item">
                    <a routerLink="/register" [class.nav-item_selected]="isSelected('register')">
                        <svg-write class="nav-item-svg svg-size_20" [class.nav-item_selected]="isSelected('register')">
                        </svg-write>
                        <span class="nav-item-text">入力</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/overview" [class.nav-item_selected]="isSelected('overview')">
                        <svg-table-report class="nav-item-svg svg-size_20"
                            [class.nav-item_selected]="isSelected('overview')">
                        </svg-table-report>
                        <span class="nav-item-text">閲覧</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-topic">日報
            <ul class="nav-list">
                <li class="nav-item">
                    <a routerLink="/report" [class.nav-item_selected]="isSelected('report')">
                        <svg-table-report class="nav-item-svg svg-size_20"
                            [class.nav-item_selected]="isSelected('report')">
                        </svg-table-report>
                        <span class="nav-item-text">一覧</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-topic">
            <ul class="nav-list">
                <li class="nav-item">
                    <a routerLink="/setting" [class.nav-item_selected]="isSelected('setting')">
                        <svg-setting class="nav-item-svg svg-size_20" [class.nav-item_selected]="isSelected('setting')">
                        </svg-setting>
                        <span class="nav-item-text">設定</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-topic">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{{contactFormUrl}}">
                        <svg-confounded-face class="nav-item-svg svg-size_20"></svg-confounded-face>
                        <span class="nav-item-text">問い合わせ</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>