@use "../../../sass-utiles/const";

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: const.$nav-height;
    margin: const.$main-margin 0;
}
.wrapper {
    & > a {
        margin: 1em;
    }
}
