@use "../../../sass-utiles/const";
@use "../../../sass-utiles/color";
@use "../../../sass-utiles/mixins";

.nav {
    background-color: color.$main-dark;
    height: calc(100vh - const.$header-height - const.$footer-heigh);
    padding: 1em;
    @include mixins.ForNarrowMode() {
        height: auto;
        width: 100%;
    }
    &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > * {
            margin: 0.5em;
            @include mixins.ForNarrowMode() {
                margin: 0 0.5em;
            }
        }
        @include mixins.ForNarrowMode() {
            flex-direction: row;
            z-index: 1;
            align-items: flex-end;
        }
    }
    &-item {
        color: color.$white;
        display: flex;
        flex-direction: row;
        align-items: center;
        &_selected {
            font-weight: 700;
            color: color.$main;
        }
        &-text {
            margin-left: 0.5em;
            @include mixins.ForNarrowMode() {
                display: none;
            }
        }
        &-link {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0.5em;
            border-radius: 0.5em;
            &:hover {
                background-color: lighten(color.$main-dark, 10%);
            }
        }
    }
}
