@use "./../../../sass-utiles/mixins";
@use "./../../../sass-utiles/color";

main {
    @include mixins.common-main();
}
.new {
    &-button {
        @include mixins.common-sub-action-button();
    }
}
.card {
    width: 28%;

    @include mixins.common-box-shadow();
    @include mixins.ForNarrowMode() {
        width: 100%;
    }
    &:hover {
        background-color: color.$base-light;
    }

    > * {
        margin: 0.5em;
    }
    &-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        cursor: pointer;
    }

    &-body {
        cursor: pointer;
    }

    &-footer {
        > * {
            padding: 0.5em 0;
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        justify-items: auto;
        > * {
            margin: 0.5em;
        }
    }
    &-inner-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        justify-items: auto;
        align-items: center;
    }
}
.article {
    &-text {
        word-wrap: break-word;
        min-height: 7em;
    }
    &-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_const {
            color: color.$text-light;
        }
    }
    &-reactions {
        border-top: 2px solid;
        border-image: color.$gradation-neon;
        border-image-slice: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &-list {
            display: flex;
            flex-direction: row;
            > *:first-child {
                margin-right: 0.5em;
            }
        }
        &-volume {
            min-width: 2em;
        }
    }
    &-export {
        button {
            @include mixins.common-submit-button();
        }
    }
}
