<main>
    <div class="wrapper">
        <div class="group">
            <a routerLink="/editor/new">
                <svg-write class="svg-size_20"></svg-write>
                <span>新規作成</span>
            </a>
        </div>
        <div class="group">
            <div class="card-wrapper">
                <div class="card" *ngFor="let item of articleList" (click)="transitionViewer(item.id)">
                    <div class="card-header">
                        <h2 class="article-title">{{ item.title }}</h2>
                        <span class="article-writer">{{ item.user_name }}</span>
                    </div>
                    <div class="card-body">
                        <div class="article-text">{{ item.text }}</div>
                    </div>
                    <div class="card-footer">
                        <div class="article-date">
                            <span class="article-date_diff">{{ item.update_timestamp | timesago }}</span>
                            <span class="article-date_const">{{ item.update_timestamp | timestamp:'yyyy年M月d日 HH時m分'
                                }}</span>
                        </div>
                        <div class="article-reactions">
                            <dl class="article-reactions-list">
                                <dt class="article-reactions-emoji">
                                    <emoji-sparkling-heart class="emoji-size_20"></emoji-sparkling-heart>
                                </dt>
                                <dd class="article-reactions-volume">{{ item.reactions.heart }}</dd>
                            </dl>
                            <dl class="article-reactions-list">
                                <dt class="article-reactions-emoji">
                                    <emoji-clap class="emoji-size_20"></emoji-clap>
                                </dt>
                                <dd class="article-reactions-volume">{{ item.reactions.clap }}</dd>
                            </dl>
                            <dl class="article-reactions-list">
                                <dt class="article-reactions-emoji">
                                    <emoji-thumbs-up class="emoji-size_20"></emoji-thumbs-up>
                                </dt>
                                <dd class="article-reactions-volume">{{ item.reactions.thumbsup }}</dd>
                            </dl>
                            <dl class="article-reactions-list">
                                <dt class="artilce-reactions-emoji">
                                    <emoji-speech-balloon class="emoji-size_20"></emoji-speech-balloon>
                                </dt>
                                <dd class="article-reactions-volume">{{ item.comments }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>