@use "./../../../sass-utiles/mixins";
@use "./../../../sass-utiles/color";

main {
    @include mixins.common-main();
    flex-direction: column;
    justify-content: flex-start;
}
.input {
    &-wrapper {
        height: 100%;
    }
    &-text {
        &-long {
            width: 100%;
        }
    }
    &-button {
        &-wrapper {
            > * {
                margin: 0.5em 0;
            }
        }
        &_public {
            @include mixins.common-submit-button();
        }
        &_private {
            @include mixins.common-sub-action-button();
        }
    }
}
.form {
    > * {
        margin-bottom: 0.5em;
    }
}
