<main>
    <div class="wrapper">
        <form [formGroup]="frmArticle" class="form">
            <div class="input-wrapper">
                <label for="title">タイトル</label>
                <input type="text" id="title" class="input-text-long" formControlName="title">
            </div>
            <div class="input-wrapper">
                <label for="article">内容</label>
                <quill-editor formControlName="article" [placeholder]="''">
                </quill-editor>
            </div>
            <div class="input-wrapper">
                <button type="submit" (click)="submit('public')">公開する</button>
            </div>
        </form>
    </div>
</main>