<main>
    <div class="wrapper">
        <form [formGroup]="frmArticle" class="form">
            <div class="input-wrapper">
                <label for="title">タイトル</label>
                <input type="text" id="title" class="input-text-long" formControlName="title">
            </div>
            <div class="input-wrapper">
                <label for="article">内容</label>
                <quill-editor formControlName="article" [modules]="quillConfiguration" [placeholder]="''">
                </quill-editor>
            </div>
            <div class="input-wrapper">
                <div class="input-button-wrapper">
                    <button type="submit" (click)="submit('public')" class="input-button_public">公開する</button>
                    <button type="submit" (click)="submit('private')" class="input-button_private"
                        *ngIf="isDisplayPrivateButton">下書き保存する</button>
                </div>
            </div>
        </form>
    </div>
</main>