$base: #f9f9f9;
$base-light: lighten($base, 20%);
$main: #cdf0ea;
$main-light: lighten($main, 20%);
$main-dark: #3e4746;
$accent1: #beaee2;
$accent2: #f7dbf0;
$neon-accent1: #30cfd0;
$neon-accent2: #c43ad6;
$text: #323232;
$text-light: lighten($text, 20%);
$white: #ffffff;
$svg: lighten($text, 20%);
$border: #c4c4c4;
$gradation-main: linear-gradient(to right, $accent1, $accent2);
$gradation-neon: linear-gradient(to right, $neon-accent1, $neon-accent2);
$gradation-skeleton: linear-gradient(to right, lighten($text, 60%), $base-light);

body {
    font-family: "Noto Serif JP", serif;
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    .wrapper {
        width: 100vw;
        max-width: 70%;
        > * {
            margin: 1em;
        }
    }
}

.article {
    > * {
        margin-bottom: 0.5em;
    }
    &-title {
    }
    &-writer {
        color: $text-light;
    }
    &-date {
        color: $text-light;
    }
    &-text {
        //記事内の要素に対する設定はarticle.scssに記述してstyle.scssから呼び出す
        word-wrap: break-word;
        &_loading {
            min-height: 25%;
        }
        * {
            line-height: 1.5em;
        }
        h1 {
            font-size: 1.4em;
            display: inline-block;
            margin-top: 0.8em;
        }
        h2 {
            font-size: 1.2em;
            display: inline-block;
            margin-top: 0.6em;
        }
        ul {
            list-style-type: disc;
            padding-left: 1.5em;
        }
        ol {
            list-style-type: decimal;
            padding-left: 1.5em;
        }
        li {
            margin: 0.2em 0;
        }
        blockquote {
            border-left: 1em solid;
            border-color: $main;
            background-color: $base-light;
            padding: 0.25em;
        }
        pre.ql-syntax {
            background-color: $main-dark;
            padding: 0.25em;
            color: $white;
        }

        @for $i from 1 through 5 {
            .ql-indent-#{$i} {
                padding-left: 2em * $i;
            }
        }
    }
    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        &-button {
            padding: 0.5em;
            &:hover {
                background-color: $base-light;
            }
            &_disable {
                cursor: default;
                &:hover {
                    background-color: unset;
                }
            }
        }
    }
}
.reaction {
    border-top: 2px solid;
    border-image: $gradation-neon;
    border-image-slice: 1;
    display: flex;
    flex-direction: row;

    > * {
        margin-right: 1.5em;
    }
    &-list {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        border-radius: 0.5em;
        > *:first-child {
            margin-right: 0.5em;
        }
    }
    &-volume {
        min-width: 2em;
    }
    &_off {
        cursor: pointer;
        filter: grayscale(100%);
        &:hover {
            background-color: $base-light;
            animation: grayscale-wave 1.05s ease-out forwards;
        }
    }
    &_on {
        cursor: default;
        filter: grayscale(0%);
    }
}
.comment {
    > * {
        margin: 0.5em 0;
    }
    &-card {
        $parent-comment-card: &;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-wrapper {
            display: flex;
            flex-direction: column;
            > * {
                margin: 0.5em 0;
            }
        }

        $fukidashi-radius: 10px;

        &-body {
            max-width: 70%;
            border: 2px solid;
            border-color: $neon-accent1;
            padding: 0.5em;
            border-radius: $fukidashi-radius $fukidashi-radius $fukidashi-radius 0;
            position: relative;

            &::after {
                content: " ";
                height: 10px;
                width: 10px;
                bottom: -10px;
                left: -2px;
                position: absolute;
                border: 5px solid transparent;
                border-left: 8px solid $neon-accent1;
                transform: translateY(-3px);
            }
        }

        &_mine {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            #{$parent-comment-card}-body {
                border-color: $neon-accent2;
                border-radius: $fukidashi-radius $fukidashi-radius 0 $fukidashi-radius;
                &::after {
                    left: unset;
                    right: -2px;
                    border-left: 5px solid transparent;
                    border-right: 8px solid $neon-accent2;
                }
            }
        }
    }

    &-form {
        > * {
            margin-top: 0.5em;
        }
    }

    &-date,
    &-commenter {
        color: $text-light;
        font-size: 0.8em;
    }

    &-template {
        display: none;
    }
}
