/* You can add global styles to this file, and also import other style files */
@use "./app/sass-utiles/destyle";
@use "./app/sass-utiles/color";
@use "./app/sass-utiles/mixins";
@use "./app/components/splitpage/report-viewer/article";
@use "~ngx-toastr/toastr";
@use "./app/components/splitpage/report-differ/diff";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;600;800&display=swap");
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

body,
th {
    font-family: "Noto Serif JP", serif;
    font-weight: 200;
    background-color: color.$base;
}

h1 {
    @include mixins.common-header(2.2);
}
h2 {
    @include mixins.common-header(1.6);
}
h3 {
    @include mixins.common-header(1.4);
}
h4 {
    @include mixins.common-header(1.2);
}
input,
textarea {
    height: 2em;
    padding: 0.5em;
    border: 1px solid color.$border;
    border-radius: 0.25em;
    &:focus {
        border: 2px solid color.$accent1;
        outline: none;
    }
}
input[type="text"] {
    width: 100%;
}
textarea {
    height: calc(1.2em * 5);
    line-height: 1.2em;
    width: 100%;
    resize: none;
}
select {
    height: 2em;
    padding: 0.25em;
    border: 1px solid color.$border;
    border-radius: 0.25em;
    &:focus {
        border: 2px solid color.$accent1;
        outline: none;
    }
}
label {
    margin-bottom: 0.25em;
    display: block;
}
strong {
    font-weight: 800;
}
.article-text {
    @include article.article();
}
