/* You can add global styles to this file, and also import other style files */
@use "./app/sass-utiles/destyle";
@use "./app/sass-utiles/color";
@use "./app/sass-utiles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;600&display=swap");

body,
th {
    font-family: "Noto Serif JP", serif;
    font-weight: 200;
    background-color: color.$base;
}

h1 {
    @include mixins.common-header(2.2);
}
h2 {
    @include mixins.common-header(1.8);
}
h3 {
    @include mixins.common-header(1.6);
}
h4 {
    @include mixins.common-header(1.4);
}
input,
textarea {
    height: 2em;
    padding: 0.5em;
    border: 1px solid color.$text-light;
    border-radius: 0.25em;
    &:focus {
        border: 2px solid color.$accent-dark;
        outline: none;
    }
}
textarea {
    height: calc(1.2em * 5);
    line-height: 1.2em;
    width: 100%;
    resize: none;
}
label {
    margin-bottom: 0.25em;
    display: block;
}
