@use "./../../../../sass-utiles/color";
@use "./../../../../sass-utiles/mixins";

.wrapper {
    max-width: 380px;
    min-height: 100%;
    > div {
        padding: 1em;
    }
    @include mixins.ForNarrowMode() {
        display: none;
    }
}
.contents {
    position: sticky;
    top: 0;
}
.calendar {
    &-nav {
        display: flex;
        justify-content: space-between;
    }
    &-saturday {
        color: blue;
    }
    &-sunday,
    &-holiday {
        color: red;
    }
    &-th {
        text-align: center;
    }
    &-cell {
        cursor: pointer;
        padding: 0.5em 0.25em;
        min-height: 1em;
        min-width: 3em;
        &:hover {
            background-color: color.$base-light;
        }
        &_blank {
            cursor: default;
            &:hover {
                background-color: transparent;
            }
        }
        > span {
            text-align: center;
            display: block;
        }
    }
    &-hours {
        color: color.$accent1;
    }
    &_selected {
        background-color: color.$accent2;
    }
}
