<div class="header">
    <button type="button" (click)="setSelectedDate(-1)" class="header-button">&#x3C;&#x3C;</button>
    <h2 class="header-title">{{ selectedDateForDisply | date:'yyyy年M月d日(EEE)' }}</h2>
    <button type="button" (click)="setSelectedDate(1)" class="header-button">&#x3E;&#x3E;</button>
</div>


<form (ngSubmit)="updateDailyData()" [formGroup]="frmDaily">

    <div class="card-wrapper" formArrayName="jobs">
        <div *ngFor="let job of getJobsArray().controls; let i=index">
            <div class="card" [formGroupName]="i">
                <div class="card-header">
                    <label for="job">作業内容 / チケット番号</label>
                    <input type="text" formControlName="job">
                </div>
                <div class="card-body">
                    <div class="card-body-row">
                        <label for="hours">工数（0.5単位）</label>
                        <input type="number" step="0.5" min="0" max="24" formControlName="hours"
                            (change)="setTotalHours()">
                    </div>
                    <div class="card-body-row">
                        <label for="group_name">集約グループ</label>
                        <input type="text" formControlName="group_name" list="datalistGroup">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" (click)="deleteJobCard(i)">削除</button>
                </div>
            </div>
        </div>
        <datalist id="datalistGroup">
            <option *ngFor="let group of listGroup" value="{{ group.group_name }}">
        </datalist>
    </div>

    <div class="form-group">
        <button type="button" (click)="addJobCard()">追加</button>
    </div>

    <div class="form-group">
        <span>合計</span>
        <span>{{ dailyTotalHours | number:'1.1-1' }} 時間</span>
    </div>
    <div class="form-group">
        <label for="memo">メモ</label>
        <textarea type="text" formControlName="memo" id="memo"></textarea>
    </div>
    <div class="form-group">
        <button type="submit">登録</button>
        <div class="submit-message" *ngIf="submitMessage !== ''">
            {{ submitMessage }}
        </div>
    </div>
</form>