<main>
    <div class="wrapper">
        <div class="search">
            <form class="search-form" [formGroup]="frmSearch">
                <div class="search-form-row">
                    <div class="select-wrapper">
                        <label for="slcUser">メンバー</label>
                        <select #slcUser formControlName="user" id="slcUser" (change)="search()">
                            <option *ngFor="let datum of memberData" value="{{ datum.email }}">
                                {{datum.user_name }}
                            </option>
                        </select>
                    </div>
                    <div class="select-wrapper">
                        <label for="slcYear">年</label>
                        <select #slcYear formControlName="year" id="slcYear" (change)="search()">
                            <option *ngFor="let year of optionYear;" value="{{ year }}">
                                {{ year }}
                            </option>
                        </select>
                    </div>
                    <div class="select-wrapper">
                        <label for="slcMonth">月</label>
                        <select #slcMonth formControlName="month" id="slcMonth" (change)="search()">
                            <option *ngFor="let month of optionMonth" value="{{ month }}">
                                {{ month }}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="summary" *ngIf="summary.length > 0">
            <div class="summary-card" *ngFor="let sum of summary">
                <div class="summary-card-head">
                    {{ sum.groupName }}
                </div>
                <div class="summary-card-body">
                    {{ sum.hours | number:'1.1-1' }}時間
                </div>
            </div>
        </div>
        <div class="list" *ngIf="list.length > 0">
            <table class="list-table">
                <tr>
                    <th class="list-table-title">集約グループ</th>
                    <th class="list-table-title">作業内容</th>
                    <th class="list-table-title">工数</th>
                </tr>
                <tr *ngFor="let row of list">
                    <td>{{row.groupName}}</td>
                    <td>{{row.job}}</td>
                    <td>{{row.hours | number:'1.1-1'}}</td>
                </tr>
            </table>
        </div>
        <div class="export" *ngIf="list.length > 0">
            <button #btnCsv type="button" class="export-button" (click)="exportCsv(btnCsv)"
                [attr.data-year]="slcYear.value" [attr.data-month]="slcMonth.value"
                [attr.data-user]="slcUser.value">CSV出力</button>
        </div>
    </div>
</main>