@use "./../../../sass-utiles/mixins";
@use "./../../../sass-utiles/color";

main {
    @include mixins.common-main();
}
button[type="submit"] {
    @include mixins.common-submit-button();
}
button[type="button"] {
    @include mixins.common-sub-action-button();
}
.search {
    &-form {
        & > * {
            margin-bottom: 0.5em;
        }
        &-row {
            display: flex;
            flex-direction: row;
        }
    }
}
.select {
    &-wrapper {
        display: flex;
        flex-direction: column;
        & + & {
            margin-left: 1.5em;
        }
    }
}
.summary {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    > * {
        margin: 0.25em;
    }
    &-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border: 1px solid color.$border;
        background-color: color.$white;
        width: 10em;

        &-header {
            width: 100%;
            height: 100%;
            padding: 0.25em;
            border-bottom: 2px solid;
            border-image: color.$gradation-main;
            border-image-slice: 1;
            min-height: 1.5em;
        }
        &-body {
            padding: 0.25em;
        }
    }
}
.list {
    &-table {
        width: 100%;
        &-sortable {
            cursor: pointer;
        }
        &-title {
            background-color: color.$main;
            padding: 0.5em;
            &:last-child {
                text-align: right;
            }
        }
    }
    td {
        padding: 0.5em;
        border-bottom: 1px solid color.$main;
        word-break: break-all;

        &:last-child {
            width: 7em;
            text-align: right;
        }
    }
}
